.custom-select {
  position: relative;
  width: 100%;
  margin: 20px 0;
  padding: 0;
}

.custom-select h3 {
  margin-bottom: 15px;  
  font-size: 18px;
  color: #333;
  text-align: center;
  white-space: normal;
  text-overflow: unset;
}

.custom-select select {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  appearance: none;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;  
}

.step1-modalidad h3 {
  font-size: 20px;
  margin-bottom: 10px;  
}
