
.dashboard-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}


.button-container {
  text-align: right;
  margin-bottom: 20px;
}

.crear-evento {
  background-color: #000;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.crear-evento:hover {
  background-color: #444;
}

.btnModificarMisSolicitudes {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(159, 193, 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}
.btnModificarMisSolicitudes:hover {
  background-color: rgb(139, 173, 235);
}
.btnModificarMisSolicitudes img {
  width: 20px;
  height: 20px;
}
.eventos-section {
  text-align: left;
}

.eventos-section h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}


.eventos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
}

.evento-card {
  position: relative; /* necesario para posicionar el botón dentro */
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
  border-left: 6px solid #007bff;
}

.evento-card:hover {
  transform: scale(1.05);
}

.evento-card h3 {
  font-size: 1.4rem;
  margin-bottom: 8px;
  color: #333;
}

.evento-card p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}


.no-eventos {
  font-size: 1.2rem;
  color: #777;
  text-align: center;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .crear-evento {
    width: 100%;
  }

  .eventos-grid {
    grid-template-columns: 1fr;
  }
}
